##This is the Firewall rules the last one must be set as block all ports
---
###Firewall settings
firewall_settings:
  - {chain: INPUT , action: ACCEPT , family: inet, source: , sport: 1-65535 , destination: ,dport: 80 ,protocol: tcp , extraoptions: , comment: "http Traffic" }
  - {chain: INPUT , action: ACCEPT , family: inet, source: , sport: 1-65535 , destination: ,dport: 443 ,protocol: tcp , extraoptions: , comment: "https Traffic" }
  - {chain: INPUT , action: ACCEPT , family: inet, source: , sport: 1-65535 , destination: ,dport: 22 ,protocol: tcp , extraoptions: , comment: "SSH connection"}
  - {chain: INPUT , action: ACCEPT , family: inet, source: , sport: 1-65535 , destination: ,dport: "{{ sickbeard.port }}" ,protocol: tcp , extraoptions: , comment: "sickbeard"}
  - {chain: INPUT , action: ACCEPT , family: inet, source: , sport: 1-65535 , destination: ,dport: "{{ couchpotato.port }}" ,protocol: tcp , extraoptions: , comment: "couchpotato"}
  - {chain: INPUT , action: ACCEPT , family: inet, source: , sport: 1-65535 , destination: ,dport: "{{ minidlna.port }}" ,protocol: tcp , extraoptions: , comment: "minidlna"}
####Samba####
  - {chain: INPUT , action: ACCEPT , family: inet, source: , sport: 1-65535 , destination: ,dport: "139" ,protocol: tcp , extraoptions: , comment: "Samba"}
  - {chain: INPUT , action: ACCEPT , family: inet, source: , sport: 1-65535 , destination: ,dport: "445" ,protocol: tcp , extraoptions: , comment: "Samba"}
  - {chain: INPUT , action: ACCEPT , family: inet, source: , sport: 1-65535 , destination: ,dport: "137" ,protocol: udp , extraoptions: , comment: "Samba"}
  - {chain: INPUT , action: ACCEPT , family: inet, source: , sport: 1-65535 , destination: ,dport: "138" ,protocol: udp , extraoptions: , comment: "Samba"}
####Samba####
####DNS####
  - {chain: INPUT , action: ACCEPT , family: inet, source: , sport: 53 , destination: ,dport: 1-65535 ,protocol: tcp , extraoptions: , comment: "DNS TCP"}
  - {chain: INPUT , action: ACCEPT , family: inet, source: , sport: 53 , destination: ,dport: 1-65535 ,protocol: udp , extraoptions: , comment: "DNS UDP"}
####DNS#### 
##block all rule##
  - {chain: INPUT , action: DROP , family: inet, source: , sport: , destination: ,dport: ,protocol: all, extraoptions: , comment: "Dops all other connections"}
##block all rule##