#THis is where you add uses to the sysetm
users_accounts:
##example
#  <Username>: (the users username)
#    key: The SSH key (public part)
#    password: the user password (needs to be encrupted)
#    groups: the groups you want them in with a , seperaating them in '' quotes

#Adding groups
user_groups:
#example
#- groupname
