# Custom repos
# Regular omv-extras.org repo
deb http://packages.omv-extras.org/debian/ stoneburner main
# Testing omv-extras.org repo
deb http://packages.omv-extras.org/debian/ stoneburner-testing main
# Virtualbox repo
deb http://packages.omv-extras.org/debian/ stoneburner-vb main
deb http://dh2k.omv-extras.org/debian/ virtualbox-wheezy-mirror main
# Plexmediaserver repo
deb http://packages.omv-extras.org/debian/ stoneburner-plex main
deb http://dh2k.omv-extras.org/debian/ plex-wheezy-mirror main
# Greyhole repo
deb http://packages.omv-extras.org/debian/ stoneburner-greyhole main
deb http://www.greyhole.net/releases/deb stable main
# VDR repo
deb http://packages.omv-extras.org/debian/ stoneburner-vdr main
deb https://e-tobi.net/vdr-experimental/ wheezy addons base vdr-multipatch
# miller repo
deb http://dh2k.omv-extras.org/debian/ stoneburner-miller main
deb http://ppa.launchpad.net/deluge-team/ppa/ubuntu precise main
# miller testing repo
deb http://dh2k.omv-extras.org/debian/ stoneburner-miller-testing main
# btsync repo
deb https://dl.bintray.com/openmediavault-plugin-developers/stoneburner-sync wheezy main
deb http://debian.yeasoft.net/btsync14 wheezy main
# syncthing repo
deb http://apt.syncthing.net/ syncthing release
# VPN repo
deb http://dh2k.omv-extras.org/debian/ stoneburner-vpn main
# ZFS repo
deb https://dl.bintray.com/openmediavault-plugin-developers/stoneburner-zfs wheezy main
deb http://archive.zfsonlinux.org/debian wheezy main
# Gluster repo
deb http://packages.omv-extras.org/debian/ stoneburner-gluster main
deb http://download.gluster.org/pub/gluster/glusterfs/3.5/3.5.2/Debian/wheezy/apt wheezy main
# mono-project repo
deb http://packages.omv-extras.org/debian/ stoneburner-mono main
deb http://download.mono-project.com/repo/debian wheezy main
# mono testing repo
deb http://packages.omv-extras.org/debian/ stoneburner-mono-testing main
# docker repo
deb https://dl.bintray.com/openmediavault-plugin-developers/stoneburner-docker wheezy main
deb https://apt.dockerproject.org/repo debian-wheezy main
# docker testing repo
deb https://dl.bintray.com/openmediavault-plugin-developers/stoneburner-docker2 wheezy main
# hwraid repo
deb http://packages.omv-extras.org/debian/ stoneburner-hwraid main
deb http://hwraid.le-vert.net/debian wheezy main
